.navbar {
  justify-content: space-between;
}

span {
  padding-right: 3rem;
}

button {
  font-size: 20px;
}

.example-form-field {
  padding-right: 3rem;
  padding-top: 2rem;
}

.example-form {
  text-align: center;
}
