<app-navbar></app-navbar>
<div>

    <form class="example-container" [formGroup]="form" (ngSubmit)="addJob()">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [formControl]="titleControl">
        </mat-form-field>
        <mat-error *ngIf="titleErr" class="errorMsg">* {{titleErr}}</mat-error>

        <mat-form-field>
            <textarea matInput placeholder="Description *" name="description" [formControl]="descriptionControl"></textarea>
        </mat-form-field>
        <mat-error *ngIf="descriptionErr" class="errorMsg">* {{descriptionErr}}</mat-error>

        <mat-form-field>
            <input type="number" matInput placeholder="Salary *" name="salary" [formControl]="salaryControl">
        </mat-form-field>
        <mat-error *ngIf="salaryErr" class="errorMsg">* {{salaryErr}}</mat-error>

        <mat-form-field>
            <mat-select placeholder="Select Level *" name="level" [formControl]="levelControl">
                <mat-option value="Fresh">Fresh</mat-option>
                <mat-option value="Entry">Entry Level</mat-option>
                <mat-option value="Junior">Junior</mat-option>
                <mat-option value="Mid-Level">Mid-Level</mat-option>
                <mat-option value="Senior">Senior</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error *ngIf="levelErr" class="errorMsg">* {{levelErr}}</mat-error>

        <button mat-raised-button color="primary">Add</button>
    </form>
</div>