.example-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
    width: 40%;
}

.errorMsg {
    text-align: left;
    padding: 1px;
    /* padding-top: 0; */
    color: red;
}

form.submitted input.ng-invalid,
input.ng-dirty.ng-invalid {
    border: 1px solid red;
}