<mat-card class="job-card" *ngFor="let job of Jobs; let i = index" (mouseover)="showDetails = i" (mouseout)="showDetails = -1">
    <mat-card-title>
        {{job.title}}
    </mat-card-title>
    <mat-card-subtitle>
        {{job.salary}}$
    </mat-card-subtitle>
    <mat-card-subtitle>
        <i>{{job.level}} Level</i>
    </mat-card-subtitle>
    <mat-card-content *ngIf="showDetails === i" style="-webkit-line-clamp: 2;
                                                        overflow: hidden;text-overflow: ellipsis;
                                                        display: -webkit-box;
                                                        -webkit-box-orient: vertical;">
        {{job.description}}
    </mat-card-content>
    <button mat-raised-button color="primary" style="text-align: right;" (click)="openDetails(i)">
        MORE DETAILS
    </button>
</mat-card>