<app-navbar></app-navbar>

<div class="job-card">
    <button mat-icon-button [routerLink]="'/new'">
        <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button (click)="categoriesShow()" [matMenuTriggerFor]="menu">
        <mat-icon>search</mat-icon>
    </button>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item role="menuitemcheckbox" (click)="SearchTitle()">
        <span>Title</span>
    </button>
    <button mat-menu-item role="menuitemcheckbox" (click)="SearchSalary()">
        <span>Salary</span>
    </button>
    <button mat-menu-item role="menuitemcheckbox" (click)="SearchLevel()">
        <span>Level</span>
    </button>
</mat-menu>

<form class="job-card">
    <mat-form-field class="example-form-field" appearance="fill" *ngIf="searchTitle">
        <mat-label>Title</mat-label>
        <input matInput type="text">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill" *ngIf="searchSalary">
        <mat-label>Salary</mat-label>
        <input matInput type="text">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill" *ngIf="searchLevel">
        <mat-label>Level</mat-label>
        <input matInput type="text">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button color="primary" *ngIf="searchLevel || searchSalary || searchTitle">Search</button>
</form>

<mat-card class="job-card" *ngFor="let job of Jobs; let i = index" (mouseover)="showDetails = i" (mouseout)="showDetails = -1">
    <mat-card-title>
        {{job.title}}
    </mat-card-title>
    <mat-card-subtitle>
        {{job.salary}}$
    </mat-card-subtitle>
    <mat-card-subtitle>
        <i>{{job.level}} Level</i>
    </mat-card-subtitle>
    <mat-card-content *ngIf="showDetails === i" style="-webkit-line-clamp: 2;
                                                        overflow: hidden;text-overflow: ellipsis;
                                                        display: -webkit-box;
                                                        -webkit-box-orient: vertical;">
        {{job.description}}
    </mat-card-content>
    <button mat-raised-button color="primary" style="text-align: right;" (click)="openDetails(i)">
        MORE DETAILS
    </button>
</mat-card>